__pycache__/
*.py[cod]
*$py.class

*.log
*.pdt
*.cli
*.fac
*.gal
*.gsd
*.mes
*.mqt
*.pbd
*.pgr
*.pls
*.pmt
*.pmv
*.ptr
*.pxt
*.tbl
*.tdb
*.fac

db.sqlite3
*.db
*.csv

.spyproject
PyFemtet.egg-info
/src/PyFemtet/_version.py
