__pycache__/
*.py[cod]
*$py.class

**/*.Results/
*.pdt

db.sqlite3
*.db
*.csv
*.uilog
*progress.yaml

.spyproject
.vscode
.idea
sandbox

PyFemtet.egg-info
/src/PyFemtet/_version.py
/dist
/.venv
/build

*.mo
/pyfemtet/opt/visualization/result_viewer/sample/optimize_sample.py
docs/result.txt
